ul {
    padding: 0;
}
ul>li {
    display: inline-block;
}
a {
    display: block;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
    width: 100px;
    border: 1px solid gray;
    background-image: linear-gradient(white, white, gray);
}
a:hover {
    text-decoration: underline;
}