<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Example App</title>
</head>
<body>

  <header>
    Web Development w/ nodejs express
  </header>

  {{{body}}}

  <footer>
    20KTPM-C
  </footer>

</body>
</html>