<div class="card">
  <div class="card-header">
    About
  </div>
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">
      Sinh viên tự thực hiện!
    </p>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>